.nav {
  margin-top: 20px;
  position: absolute;
  top: 30px;
  right: 80px;
  display: flex;
  gap: 20px;
}

.nav__logo {
  display: flex;
  position: absolute;
  width: 105px;
  height: 39px;
  top: 30px;
  left: 30;

}

.nav__links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav-link {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.header__nav-link:hover {
  color: #3f96f3;
  opacity: 0.5;
}