.nav {
  margin-top: 20px;
}

.header__nav {
  position: absolute;
  top: 30px;
  right: 80px;
  display: flex;
  gap: 20px;
}

.nav__links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.header__nav-link {
  color: #000000;
  text-decoration: none;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.header__nav-link:hover {
  color: #3f96f3;
  opacity: 0.5;
}